aiohappyeyeballs==2.4.6
aiohttp==3.10.11
aioquic==1.2.0
aiosignal==1.3.1
argcomplete==3.5.3
asgiref==3.8.1
attrs==23.2.1.dev0
autocommand==2.2.2
beautifulsoup4==4.12.3
blinker==1.8.2
Brotli==1.1.0
btrfsutil==6.13
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
click-plugins==1.1.1
colorama==0.4.6
cryptography==44.0.1
distro==1.9.0
filelock==3.17.0
Flask==3.1.0
frozenlist==1.4.1
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpretty==1.1.4
hyperframe==6.0.1
idna==3.10
itsdangerous==2.1.2
jaraco.collections==5.1.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
Jinja2==3.1.5
kaitaistruct==0.10
ldap3==2.9
libtorrent==2.0.11
MarkupSafe==2.1.5
mitmproxy==11.1.0
mitmproxy_linux==0.11.4
mitmproxy_rs==0.11.4
more-itertools==10.6.0
msgpack==1.0.5
multidict==6.0.5
netsnmp-python==1.0a1
packaging==24.2
passlib==1.7.4
pdftotext==2.2.2
pipx==1.7.1
platformdirs==4.3.6
pluginbase==1.0.1
publicsuffix2==2.20191221
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
pycryptodome==3.21.0
pygit2==1.17.0
pylsqpack==0.3.18
pyOpenSSL==25.0.0
pyparsing==3.1.2
pyperclip==1.9.0
requests==2.32.3
requests-file==2.1.0
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
service-identity==24.2.0
setuptools==75.8.0
shodan==1.31.0
six==1.17.0
sortedcontainers==2.4.0
soupsieve==2.6
termcolor==2.5.0
tldextract==5.1.3
tornado==6.4.2
typing_extensions==4.12.2
ufw==0.36.2
urllib3==2.3.0
urwid==2.6.15
userpath==1.9.2
wafw00f==2.3.1
wcwidth==0.2.13
Werkzeug==3.1.3
wheel==0.45.0
woeusb-ng==0.2.12
wsproto==1.2.0
wxPython==4.2.2
XlsxWriter==3.1.9
yarl==1.13.1
zstandard==0.23.0
